<!DOCTYPE html>
<html>
  <head>
    <title>Kidsy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <%= favicon_link_tag asset_path('cart.png'), :rel => 'icon', :type =>  'image/png' %>
    <%= yield %>
    
  </body>
</html>
